@import "tailwindcss";

@theme {
  --color-primary: #ec4899; /* Pink-500 */
  --color-secondary: #8b5cf6; /* Violet-500 */
  --font-sans: "Inter", sans-serif;
}

body {
  @apply bg-neutral-950 text-white min-h-screen font-sans antialiased;
}
